<h1 mat-dialog-title>Log In</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput id="username" #username>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput id="password" #password>
      </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onLogin(username.value, password.value)" color="primary">Submit</button>
</div>