.center {
    display: flex;
    justify-content: center;
    margin-top: 8em;
    font-weight: 600;
  }

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-weight: 600;
}

.mat-raised-button {
  margin-top: 1em;
}